# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Ignore ONLY uploaded images (not full static folder)
static/images/*
!static/images/.gitkeep